h1 {
  padding-left: 30px;
}

h2{
  font-size: 40px;
}

footer{
  background-color: #CEE2FF;
  width: 100%;
  left:0;
  bottom:0;
  position: fixed;
  padding-bottom:30px;
}

header{
  background-color: #CEE2FF;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  padding-bottom: 10px;
}

body{
  width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: 750px;
    background-position-y: 60px;
  background-image: url("../images/erase.jpg");\
  background-color: #D8BFD8;
}

section {
  width: 50%;
padding-left: 60px;
}

#imgText {
  color: black;
padding-left: 40px;
font-size: 50px;
padding-top: 60px;
}

#description{
text-align: left;
width: 90%;
/* min-width: 180px; */
font-size: 25px;
}

#contact{
  text-decoration: solid;
  text-decoration-color: black;
  padding-left: 20px;
}
